### Loading the document embeddings

In [2]:
import pandas as pd
import numpy as np

doc_emb_df = pd.read_csv('antique_doc_embeddings.csv')

# Convert strings back to NumPy vectors
doc_emb_df['doc_embeddings'] = [np.fromstring(vec[1:-1], dtype=float, sep=',') for vec in doc_emb_df['doc_embeddings']]

print(doc_emb_df)

          doc_id                                     doc_embeddings
0      1964316_5  [-0.0132087674, -0.0825422108, 0.0144632952, -...
1     1674088_11  [0.0110482518, 0.09191861, 0.00595060643, 0.00...
2     1218838_13  [-0.0290984362, 0.058977358, -0.0251658596, -0...
3     1519022_15  [-0.0271731708, 0.0373504609, 0.0298253279, -0...
4      3059341_5  [-0.00224227854, -0.0586593598, 0.0215318352, ...
...          ...                                                ...
6481    247023_6  [0.0285549182, -0.0799941644, -0.000722727331,...
6482   1499030_5  [0.0117990598, -0.0142808128, -0.0145873558, -...
6483   2916758_0  [0.0143310865, 0.00705553312, 0.00457704067, -...
6484  1105845_15  [0.0133153796, 0.0152588673, 0.000567730691, 0...
6485   3699008_1  [-0.0214124434, -0.0110130869, 0.0243909713, -...

[6486 rows x 2 columns]

In [3]:
doc_emb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6486 entries, 0 to 6485
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   doc_id          6486 non-null   object
 1   doc_embeddings  6486 non-null   object
dtypes: object(2)
memory usage: 101.5+ KB

In [4]:
doc_emb_df.head()

       doc_id                                     doc_embeddings
0   1964316_5  [-0.0132087674, -0.0825422108, 0.0144632952, -...
1  1674088_11  [0.0110482518, 0.09191861, 0.00595060643, 0.00...
2  1218838_13  [-0.0290984362, 0.058977358, -0.0251658596, -0...
3  1519022_15  [-0.0271731708, 0.0373504609, 0.0298253279, -0...
4   3059341_5  [-0.00224227854, -0.0586593598, 0.0215318352, ...

### Loading the query embeddings

In [5]:
import pandas as pd
import numpy as np

df_loaded = pd.read_csv('antique_train_queries.csv')

# Convert strings back to NumPy vectors
df_loaded['query_embeddings'] = [np.fromstring(vec[1:-1], dtype=float, sep=',') for vec in df_loaded['query_embeddings']]

print(df_loaded)

      query_id                                   query_embeddings      doc_id  \
0      1964316  [0.00820141565, 0.0182990301, 0.0174273867, -0...   1964316_5
1      1964316  [0.00820141565, 0.0182990301, 0.0174273867, -0...  1674088_11
2      1964316  [0.00820141565, 0.0182990301, 0.0174273867, -0...  1218838_13
3      1964316  [0.00820141565, 0.0182990301, 0.0174273867, -0...  1519022_15
4      1964316  [0.00820141565, 0.0182990301, 0.0174273867, -0...   3059341_5
...        ...                                                ...         ...
1646   1957887  [0.074257873, 0.00764932111, 0.0062787463, 0.0...   4375962_5
1647   1957887  [0.074257873, 0.00764932111, 0.0062787463, 0.0...   698757_23
1648   1957887  [0.074257873, 0.00764932111, 0.0062787463, 0.0...   2860539_1
1649   1957887  [0.074257873, 0.00764932111, 0.0062787463, 0.0...   2434074_1
1650   1957887  [0.074257873, 0.00764932111, 0.0062787463, 0.0...   3562931_7

      relevance
0             4
1             1
2             2
3             2
4             2
...         ...
1646          4
1647          2
1648          1
1649          1
1650          2

[1651 rows x 4 columns]

In [6]:
df_loaded.head()

,query_id,query_embeddings,doc_id,relevance
0,1964316,"[0.00820141565, 0.0182990301, 0.0174273867, -0...",1964316_5,4
1,1964316,"[0.00820141565, 0.0182990301, 0.0174273867, -0...",1674088_11,1
2,1964316,"[0.00820141565, 0.0182990301, 0.0174273867, -0...",1218838_13,2
3,1964316,"[0.00820141565, 0.0182990301, 0.0174273867, -0...",1519022_15,2
4,1964316,"[0.00820141565, 0.0182990301, 0.0174273867, -0...",3059341_5,2